@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Noto+Serif+JP:wght@300;400;500&family=Ruluko&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  background: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
.header__topBanner__wrapper {
  background: #8a3940;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50px;
}

.header__topBanner {
  height: 50px;
  color: white;
  flex: 1;
  max-width: 1028px;

  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
}

.header__topBanner__leftText > p {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
  border-bottom: 2px solid #d76655;
}

.header__topBanner__rightText > a {
  font-weight: normal;
  font-size: 0.6rem;
  line-height: 1.4rem;
  letter-spacing: 0.08rem;
}

.header__topBanner__rightText > a:hover {
  color: #fab947;
}

/* NAV */

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.header__nav__wrapper {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90px;
  width: 100%;
}

.header__nav {
  background: white;
  flex: 1;
  max-width: 1028px;
  padding: 0 14px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.header__logo {
  display: flex;
  /* flex: 0.3; */
  flex-shrink: 1;
  align-items: center;
  justify-content: flex-start;
}

.header__logo__icon {
  flex: 0.2;
}

.header__logo__icon:active {
  transform: rotate(-20deg);
}

.header__logo__text {
  font-family: "Ruluko";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #8a3940;
  flex: 0.8;
  text-align: left;
  min-width: 170px;
}

/* links */
.header__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header__links > a {
  color: #d76655;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  font-weight: light;
  transition: hover 0.3 ease-in;
}

.header__links > a:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}

/* search */
.header__search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex: 0.2; */
  flex-shrink: 1;
}

.header__search input {
  padding: 0.5rem;
  padding-left: 2rem;
  outline: none;
  border: 2px solid rgba(215, 102, 85, 0.7);
  border-radius: 14px;
  color: #252525;
  flex-shrink: 1;
}

.header__search svg {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

/* FEATURE POST */

.featuredPost {
  width: 100%;
  max-width: 1028px;
  margin: 2rem auto;
  padding: 0 14px;
}

.featuredPost__cover {
  max-width: 100%;
  transition: all 0.4s ease;
}

.featuredPost__cover:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
  object-fit: cover;
}

main {
  width: 100%;
  max-width: 1028px;
  padding: 0 14px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* left column  */
.leftColumn {
  width: 746px;
}

.leftColumn .textbox > h1 {
  background: #d76655;
  color: white;
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  font-family: "Poppins", "Helvetica", sans-serif;
  font-weight: 300;
  letter-spacing: 0.08rem;
}

.leftColumn .textbox > p {
  color: #505050;
  padding: 1rem;
  background: white;
  font-family: Noto Sans JP, serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0.005em;
}

.recommendedPosts {
  margin: 1rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.recommendedPosts__post1,
.recommendedPosts__post2 {
  max-height: 212px;
  transition: all 0.2s ease;
  display: flex;
  align-items: flex-end;
}

.recommendedPosts__post1:hover,
.recommendedPosts__post2:hover {
  transform: scale(1.05);
  filter: brightness(1.02);
  cursor: pointer;
}

.recommendedPosts__left {
  margin-right: 1rem;
}

.recommendedPosts__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recommendedPosts__right__tab {
  width: 100%;
  height: 30px;
  background: #f6b8b8;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 12px;
  font-size: 0.8rem;
}

.recommendedPosts a {
  line-height: 0;
}

/* right column */

.rightColumn {
  width: 238px;
  min-width: 220px;
  margin-left: 1rem;
}
/* New Posts */

.newPosts {
  width: 100%;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.newPosts__wrapper {
  background: white;
  margin: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.newPosts__title {
  background: #f6b8b8;
  margin: 2rem 1rem 1rem;
}

.newPosts__title > p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  margin-left: -5px;
  letter-spacing: 1px;
  cursor: default;
}

.newPosts__title > p::before {
  content: "🍷";
}

.newPost {
  margin: 1rem;
  transition: all 0.2s ease;
}

.newPost:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Categories */

.category {
  font-family: "Noto Sans JP", serif, -apple-system;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-right: 1rem;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in;
}

.category:hover {
  transform: scale(1.05);
  filter: brightness(1.02);
  -webkit-box-shadow: 1px 1px 20px 8px #ddd; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 20px 8px #ddd; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 20px 8px #ddd; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.category h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
}

.category span {
  padding-right: 0.65rem;
  font-size: 1.2rem;
}

@media (max-width: 780px) {
  .header__search {
    display: none;
  }
  .header__links {
    justify-content: space-between;
  }
}
